* {
  font-family: Arial, Helvetica, sans-serif;
  color: #6C757D;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
}

header, main, footer {
  flex-shrink: 0;
}

.statusCode {
  font-size: 10rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.alert-success {
  background-color: #2b4631;
  border-color: rgba(255, 255, 255, 0.233);
  color: rgba(255, 255, 255, 0.438);
}

.alert-danger {
  background-color: #462b2b;
  border-color: rgba(255, 255, 255, 0.233);
  color: rgba(255, 255, 255, 0.438);
}

.border-top {
  border-top: 1px solid #6C757D!important;
}

.border-bottom {
border-bottom: 1px solid #6C757D!important;
}

fieldset a {
  color: #6C757D;
}

fieldset a:hover {
  color: #6c757d71;
}

.nav-link:hover{
  transition: 0.2s;
  color: #f6982d;
}

footer a {
  text-decoration: none;
  color: #f6982d
}

footer a:hover {
  text-decoration: underline;
  color: #f6982d
}

.nav-link {
  color: #6C757D; 
}

legend {
  text-align: center;
  font-size: 2em;
}

.form-control {
  border: 1px solid #6C757D;
  color: #6C757D;
}

.form-control:focus {
  color: #6C757D;
}