<section class="container">
  {{#if messages.success}}
    <p class="alert alert-success">{{messages.success}}</p>
  {{/if}}
  
  {{#if messages.error}}
    <p class="alert alert-danger">{{messages.error}}</p>
  {{/if}}
</section>