<footer class="d-flex flex-wrap justify-content-center align-items-center py-3 my-4 border-top container">
  <p class="col-md-4 mb-0 text-muted text-center">
    Toughts &copy; 2021,
    <a href="https://github.com/italloTheBoy" target="_blank" rel="author">Mkspop</a>
  </p>
</footer>