<form action="/register" method="post" class="container w-50">
  <fieldset class="d-flex flex-column">
    <legend class="border-bottom pb-2">Registrar Usuario</legend>

    <div>
      <label for="name" class="form-label mt-1">Nome</label>
      <input type="text" id="name" name="name" placeholder="Insira seu nome" class="form-control bg-transparent" required>
    </div>

    <div>
      <label for="email" class="form-label mt-3">Email</label>
      <input type="email" id="email" name="email" placeholder="Insira seu email" class="form-control bg-transparent" required>
    </div>

    <div>
      <label for="password" class="form-label mt-3  ">Senha</label>
      <input type="text" id="password" name="password" placeholder="Insira uma senha" class="form-control bg-transparent" required>
    </div>

    <button type="submit" class='mt-4 w-50 btn btn-outline-success align-self-center'>Registrar</button>
  </fieldset>
<<<<<<< HEAD
</form>
=======
</form>
>>>>>>> 307adee7d591899bf30feaa19d9cdb237de41d61
